body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e1e1e1;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: -50px;
    overflow: hidden;
    padding: 20px;
}

.heading-component {
    text-align: center;
    margin-bottom: 20px;
}

.heading-component-title {
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;
}

.table-custom {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-custom th, 
.table-custom td {
    text-align: center;
    padding: 8px;

}

.table-custom th {
    background-color: #000000;
    color: #ffffff;
}

.table-custom tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-custom-responsive {
    overflow-x: auto;
}

/* Definição de cores para as células */
.cell-top-four {
    background-color: hsl(217, 72%, 45%, 0.5); /* Cor mais clara de azul */
    color: #fff
}

.cell-middle-two {
    background-color: rgba(208, 112, 38, 0.5); /* Cor mais clara de laranja */
    color: #fff
    
}

.cell-middle-seven {
    background-color: hsla(136, 72%, 43%, 0.5); /* Cor mais clara de verde */
    color: #fff
}

.cell-bottom-four {
    background-color: hsl(6, 80%, 46%, 0.5); /* Cor mais clara de vermelho */
    color: #fff
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}